@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: custom-ff;
}

a {
  text-decoration: none;
  color: #111;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./res/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  flex: 1;
  margin: 0 30px;
}

@font-face {
  font-family: custom-ff;
  src: url(./res/fz.ttf) format("truetype");
}
