@import '~antd/dist/antd.css';

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #111;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 0 30px;
}
