@import "~antd/dist/antd.css";

body {
  margin: 0;
  background-image: url(./res/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: custom-ff;
}

a {
  text-decoration: none;
  color: #111;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 0 30px;
}

@font-face {
  font-family: custom-ff;
  src: url(./res/fz.ttf) format("truetype");
}

.router-area {
  width: 0;
  max-width: 0;
  height: 100vh;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 100px;
  transition: all 0.5s;
}

.router-area.login {
  width: 100%;
  max-width: calc(100% - 250px);
}
